Repository hmcts/adoption-web, pull requests merged in 2022-09, with the labels that each got.

#724 ADOP-1263
  src/main/steps/application/submitted/content.test.ts
  src/main/steps/application/submitted/content.ts
  src/main/steps/application/submitted/template.njk
  src/main/steps/la-portal/upload-your-documents/content.test.ts
  src/main/steps/la-portal/upload-your-documents/content.ts
  src/main/steps/la-portal/upload-your-documents/template.njk
  src/main/steps/review-pay-submit/statement-of-truth/content.test.ts
  src/main/steps/review-pay-submit/statement-of-truth/content.ts
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-724

#719 Fpet 135 : Google Analytics Fixes
  src/main/steps/sibling/placement-order-check-your-answers/content.test.ts
  src/main/steps/sibling/placement-order-check-your-answers/content.ts
  src/main/steps/sibling/remove-placement-order/content.test.ts
  src/main/steps/sibling/remove-placement-order/content.ts
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-719

#750 Fixed Dependency Check Build Failure Issue
  charts/adoption-web/values.preview.template.yaml
  yarn-audit-known-issues
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-750

#759 Adop 518
  src/main/app/case/CaseApi.integration.test.ts
  src/main/app/case/CaseApi.ts
  src/main/app/case/case.ts
  src/main/app/case/definition.ts
  src/main/steps/children/placement-order-check-your-answers/content.test.ts
  src/main/steps/children/placement-order-check-your-answers/content.ts
  src/main/steps/children/placement-order-summary/content.test.ts
  src/main/steps/children/placement-order-summary/content.ts
  src/main/steps/children/placement-order-summary/placement-order-summary.test.ts
  src/main/steps/children/placement-order/PlacementOrderPostController.ts
  src/main/steps/sibling/summary/content.test.ts
  src/main/steps/sibling/summary/content.ts
  src/main/steps/sibling/summary/placement-order-summary.test.ts
  src/test/e2e/pages/childDetailsPlacementOrder.page.js
  yarn-audit-known-issues
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-759

#694 ADOP 561 - CUI Applicant Screen
  src/main/app/address/AddressLookupPostControllerBase.test.ts
  src/main/app/address/AddressLookupPostControllerBase.ts
  src/main/app/address/ManualAddressPostControllerBase.test.ts
  src/main/app/address/ManualAddressPostControllerBase.ts
  src/main/app/address/SelectAddressPostControllerBase.test.ts
  src/main/app/address/SelectAddressPostControllerBase.ts
  src/main/app/case/case.ts
  src/main/app/case/definition.ts
  src/main/steps/applicant1/address/change/content.test.ts
  src/main/steps/applicant1/address/change/content.ts
  src/main/steps/applicant1/address/change/post.test.ts
  src/main/steps/applicant1/address/change/post.ts
  src/main/steps/applicant1/address/confirm-change/content.test.ts
  src/main/steps/applicant1/address/confirm-change/content.ts
  src/main/steps/applicant1/address/confirm-change/post.test.ts
  src/main/steps/applicant1/address/confirm-change/post.ts
  src/main/steps/applicant1/address/confirm-change/template.njk
  src/main/steps/applicant1/address/controller/ChangePostController.test.ts
  src/main/steps/applicant1/address/controller/ChangePostController.ts
  src/main/steps/applicant1/address/controller/ConfirmChangePostController.test.ts
  src/main/steps/applicant1/address/controller/ConfirmChangePostController.ts
  src/main/steps/applicant1/address/manual/ManualAddressPostController.test.ts
  src/main/steps/applicant1/address/manual/ManualAddressPostController.ts
  src/main/steps/applicant1/address/select/form.njk
  src/main/steps/applicant1/applicant1Sequence.test.ts
  src/main/steps/applicant1/applicant1Sequence.ts
  src/main/steps/applicant2/address/change/content.test.ts
  src/main/steps/applicant2/address/change/content.ts
  src/main/steps/applicant2/address/change/post.test.ts
  src/main/steps/applicant2/address/change/post.ts
  src/main/steps/applicant2/address/confirm-change/content.test.ts
  src/main/steps/applicant2/address/confirm-change/content.ts
  src/main/steps/applicant2/address/confirm-change/post.test.ts
  src/main/steps/applicant2/address/confirm-change/post.ts
  src/main/steps/applicant2/address/confirm-change/template.njk
  src/main/steps/applicant2/address/manual/ManualAddressPostController.test.ts
  src/main/steps/applicant2/address/manual/ManualAddressPostController.ts
  src/main/steps/applicant2/applicant2Sequence.test.ts
  src/main/steps/applicant2/applicant2Sequence.ts
  src/main/steps/application/task-list/utils.test.ts
  src/main/steps/application/task-list/utils.ts
  src/main/steps/review-pay-submit/check-your-answers/utils.test.ts
  src/main/steps/review-pay-submit/check-your-answers/utils.ts
  src/main/steps/urls.ts
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-694

#767 Fixed dependency check issue
  charts/adoption-web/values.preview.template.yaml
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-767

#713 Added pilot courts
  charts/adoption-web/Chart.yaml
  charts/adoption-web/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  src/main/steps/applicant1/applying-with/template.njk
  src/main/steps/children/find-family-court/util.ts
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-713

#766 Adding redis 30 days logic with 5 mins on PR env
  charts/adoption-web/values.preview.template.yaml
  charts/adoption-web/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  src/main/modules/draft-store/draft-store-service.test.ts
  src/main/modules/draft-store/draft-store-service.ts
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-766

#783 Es disable
  charts/adoption-web/values.preview.template.yaml
  charts/adoption-web/values.yaml
  config/default.yaml
  src/main/app/case/CaseApi.integration.test.ts
  src/main/app/case/CaseApi.ts
  src/main/modules/draft-store/draft-store-service.ts
  src/main/modules/state-redirect/index.ts
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-783
