Repository hmcts/adoption-web, pull requests merged in 2023-11, with the labels that each got.

#1447 SNI-4911-excluded laDocumentsUploaded from redis
  src/main/modules/draft-store/draft-store-service.ts
Labels: ns:adoption, prd:adoption, enable_keep_helm, rel:adoption-web-pr-1447

#1450 FPET-775-added LA email domain to allowed list
  charts/adoption-web/Chart.yaml
  charts/adoption-web/values.yaml
  config/default.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-1450

#1370 FPET-733-welsh changes
  src/main/steps/application/contact-us/content.test.ts
  src/main/steps/application/contact-us/content.ts
  src/main/steps/birth-mother/address-known/content.test.ts
  src/main/steps/birth-mother/address-known/content.ts
  src/main/steps/common/common.content.ts
  src/main/steps/la-portal/confirmation/content.test.ts
  src/main/steps/la-portal/confirmation/content.ts
  src/main/steps/sibling/constants.ts
  src/main/steps/sibling/exists/content.test.ts
  src/main/steps/sibling/placement-order-check-your-answers/content.test.ts
  src/main/steps/sibling/placement-order-check-your-answers/content.ts
  src/main/steps/sibling/placement-order-number/content.test.ts
  src/main/steps/sibling/placement-order-type/content.test.ts
  src/main/steps/sibling/relation/content.test.ts
  src/main/steps/sibling/remove-placement-order/content.test.ts
  src/main/steps/sibling/remove-placement-order/content.ts
  src/main/steps/sibling/summary/content.test.ts
  yarn-audit-known-issues
Labels: ns:adoption, prd:adoption, enable_keep_helm, rel:adoption-web-pr-1370

#1459 Added the fix for incident
  charts/adoption-web/values.preview.template.yaml
  src/main/steps/children/find-family-court/util.ts
Labels: ns:adoption, prd:adoption, enable_keep_helm, rel:adoption-web-pr-1459

#1460 Suppressed the renovate automaerge
  .github/renovate.json
  charts/adoption-web/values.preview.template.yaml
Labels: ns:adoption, prd:adoption, enable_keep_helm, rel:adoption-web-pr-1460

#1454 FPET-777: Fix applying-with performance issues
  charts/adoption-web/values.preview.template.yaml
  src/main/app/case/CaseApi.ts
  src/main/app/case/NewCaseRedirectController.test.ts
  src/main/app/case/NewCaseRedirectController.ts
  src/main/app/controller/AppRequest.ts
  src/main/app/controller/PostController.test.ts
  src/main/app/controller/PostController.ts
  src/main/modules/oidc/index.ts
  src/main/steps/application/home/get.test.ts
  src/main/steps/application/home/get.ts
  src/main/steps/eligibility/EligibilityPostController.test.ts
  src/main/steps/eligibility/EligibilityPostController.ts
Labels: ns:adoption, prd:adoption, enable_keep_helm, rel:adoption-web-pr-1454

#1462 FPET-779: Add LA email domain to allowed list
  charts/adoption-web/Chart.yaml
  charts/adoption-web/values.yaml
  config/default.yaml
Labels: ns:adoption, prd:adoption, enable_keep_helm, rel:adoption-web-pr-1462
