Repository hmcts/adoption-web, pull requests merged in 2023-06, with the labels that each got.

#1198 Fpet 503 feature
  charts/adoption-web/values.preview.template.yaml
  src/main/app/form/validation.ts
  src/main/steps/children/full-name/content.test.ts
  src/main/steps/children/full-name/content.ts
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-1198

#1203 INC5516362 fix
  src/main/modules/kba/index.ts
  src/main/steps/children/full-name/content.ts
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-1203

#1199 Nightly Cross Browser Fix
  package.json
  yarn.lock
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-1199

#1179 Fix Functional Test Failures
  Jenkinsfile_CNP
  codecept.conf.js
  package.json
  src/test/config.ts
  src/test/e2e/fixtures/caseData/childSocialWorkerDetails.js
  src/test/e2e/pages/LandingPage.js
  src/test/e2e/pages/checkYourAnswers.page.js
  src/test/e2e/pages/childAdoptionAgencyDetails.page.js
  src/test/e2e/pages/childBirthFatherDetails.page.js
  src/test/e2e/pages/childBirthMothersDetails.page.js
  src/test/e2e/pages/childDetailsPlacementOrder.page.js
  src/test/e2e/pages/childOtherParentDetails.page.js
  src/test/e2e/pages/childSiblingDetails.page.js
  src/test/e2e/pages/childrenBirthCertificate.page.js
  src/test/e2e/pages/childsDetails.page.js
  src/test/e2e/pages/chooseYourFamilyCourtDetails.page.js
  src/test/e2e/pages/dateChildMovedinDetails.page.js
  src/test/e2e/pages/login.page.js
  src/test/e2e/pages/otherApplicant.page.js
  src/test/e2e/pages/otherApplicantPersonalDetails.page.js
  src/test/e2e/pages/primaryApplicant.page.js
  src/test/e2e/pages/primaryApplicantPersonalDetails.page.js
  src/test/e2e/pages/reviewPayAndSubmit.page.js
  src/test/e2e/pages/taskList.page.js
  src/test/e2e/tests/e2enegative_test.js
  src/test/e2e/tests/submitAdoptionApplication_test.js
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-1179

#1216 FPET-588 Supported email changes
  charts/adoption-web/Chart.yaml
  charts/adoption-web/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  src/main/app/form/validation.ts
  src/main/steps/children/applicant-social-worker/content.test.ts
  src/main/steps/children/applicant-social-worker/content.ts
  src/main/steps/children/social-worker/content.test.ts
  src/main/steps/children/social-worker/content.ts
  src/test/e2e/pages/childAdoptionAgencyDetails.page.js
  yarn-audit-known-issues
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-1216

#1218 redis upgrade
  infrastructure/main.tf
Labels: ns:adoption, prd:adoption, destroy, rel:adoption-web-pr-1218
