Repository hmcts/adoption-web, pull requests merged in 2023-09, with the labels that each got.

#1286 FPET-592- LA portal Date format update on start page
  src/main/app/case/answers/formatDate.ts
  src/main/modules/kba/index.ts
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-1286

#1291 FPET-687-added LA email to exception list
  charts/adoption-web/Chart.yaml
  charts/adoption-web/values.yaml
  config/default.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-1291

#1296 FPET-700-added email to LA whitelisted list
  charts/adoption-web/Chart.yaml
  charts/adoption-web/values.yaml
  config/default.yaml
  yarn-audit-known-issues
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-1296

#1298 FPET-698-moved settings.gradle to root folder
  settings.gradle
Labels: ns:adoption, prd:adoption, enable_keep_helm, rel:adoption-web-pr-1298

#1300 FPET-698- fixed security scan issue
  audit.json
Labels: ns:adoption, prd:adoption, enable_keep_helm, rel:adoption-web-pr-1300

#1306 FPET-628 - Update Functional test
  src/test/e2e/fixtures/caseData/checkYourAnswersPageKeysDetails.js
  src/test/e2e/pages/checkYourAnswers.page.js
  src/test/e2e/pages/otherApplicant.page.js
  src/test/e2e/pages/primaryApplicant.page.js
Labels: ns:adoption, prd:adoption, enable_keep_helm, rel:adoption-web-pr-1306

#1297 FPET-628-removed applicant contact details consent radio
  .github/renovate.json
  src/main/app/case/case.ts
  src/main/steps/applicant1/contact-details/content.test.ts
  src/main/steps/applicant1/contact-details/content.ts
  src/main/steps/applicant2/contact-details/content.test.ts
  src/main/steps/applicant2/contact-details/content.ts
  src/main/steps/application/task-list/utils.ts
  src/main/steps/review-pay-submit/check-your-answers/content.test.ts
  src/main/steps/review-pay-submit/check-your-answers/content.ts
  src/main/steps/review-pay-submit/check-your-answers/utils.test.ts
  src/main/steps/review-pay-submit/check-your-answers/utils.ts
  src/test/e2e/fixtures/caseData/checkYourAnswersPageKeysDetails.js
  src/test/e2e/pages/checkYourAnswers.page.js
  src/test/e2e/pages/otherApplicant.page.js
  src/test/e2e/pages/primaryApplicant.page.js
Labels: ns:adoption, prd:adoption, enable_keep_helm, rel:adoption-web-pr-1297

#1336 FPET-712-added LA email domain to allowed list
  charts/adoption-web/Chart.yaml
  charts/adoption-web/values.yaml
  config/default.yaml
Labels: ns:adoption, prd:adoption, enable_keep_helm, rel:adoption-web-pr-1336

#1337 FPET-710-updated welsh text
  src/main/steps/birth-father/alive/content.test.ts
  src/main/steps/birth-father/alive/content.ts
  src/main/steps/review-pay-submit/check-your-answers/content.ts
  src/main/steps/review-pay-submit/check-your-answers/utils.ts
Labels: ns:adoption, prd:adoption, enable_keep_helm, rel:adoption-web-pr-1337

#1280 FPET-673- RefData Court changes to static list
  charts/adoption-web/Chart.yaml
  charts/adoption-web/values.preview.template.yaml
  charts/adoption-web/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  src/main/app/court/court-venues-api.integration.test.ts
  src/main/app/court/court-venues-api.ts
  src/main/steps/children/find-family-court/FindFamilyCourtGetController.ts
  src/main/steps/children/find-family-court/util.ts
  src/main/steps/children/find-placement-order-court/FindPlacementOrderCourtGetController.ts
  src/main/steps/children/placement-order/PlacementOrderGetController.ts
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-1280, enable_keep_helm

#1356 FPET-722-updated welsh text
  src/main/steps/children/find-family-court/content.test.ts
  src/main/steps/children/find-family-court/content.ts
  src/main/steps/children/full-name-after-adoption/content.test.ts
  src/main/steps/children/full-name-after-adoption/content.ts
  src/main/steps/eligibility/married/content.test.ts
  src/main/steps/eligibility/married/content.ts
Labels: ns:adoption, prd:adoption, enable_keep_helm, rel:adoption-web-pr-1356

#1371 Fixing Adoption-web Nightly tests
  saucelabs.conf.js
  src/test/e2e/pages/LandingPage.js
  src/test/e2e/pages/childAdoptionAgencyDetails.page.js
  src/test/e2e/pages/childBirthMothersDetails.page.js
  src/test/e2e/pages/childSiblingDetails.page.js
  src/test/e2e/pages/childsDetails.page.js
  src/test/e2e/pages/chooseYourFamilyCourtDetails.page.js
  src/test/e2e/pages/dateChildMovedinDetails.page.js
  src/test/e2e/pages/laCheckYourAnswers.page.js
  src/test/e2e/pages/otherApplicant.page.js
  src/test/e2e/pages/otherApplicantPersonalDetails.page.js
  src/test/e2e/pages/primaryApplicant.page.js
  src/test/e2e/pages/primaryApplicantPersonalDetails.page.js
  src/test/e2e/pages/reviewPayAndSubmit.page.js
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-1371
