Repository hmcts/adoption-web, pull requests merged in 2024-05, with the labels that each got.

#1529 [ADOP-2429] Updating tests to reflect fee increase
  src/test/api/fee-register.api.test.ts
  src/test/e2e/pages/reviewPayAndSubmit.page.js
  src/test/pact/fees-register-api.test.ts
  src/test/pact/payment-api.test.ts
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-1529

#1531 ADOP-2429 Update tests to reflect new fee/version
  src/test/api/fee-register.api.test.ts
  src/test/pact/fees-register-api.test.ts
  src/test/pact/payment-api.test.ts
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-1531

#1540 ADOP-2455 amend cross browser tests
  saucelabs.conf.js
  src/test/e2e/tests/submitAdoptionApplication_test.js
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-1540

#1541 [ADOP-2457] Added social worker domain
  charts/adoption-web/Chart.yaml
  charts/adoption-web/values.yaml
  config/default.yaml
Labels: ns:adoption, prd:adoption, enable_keep_helm, rel:adoption-web-pr-1541

#1542 ADOP-2459: Eligibility error checking
  playwright-e2e/pages/base-page.ts
  playwright-e2e/pages/eligibility-pages.ts
  playwright-e2e/tests/eligibility-one-child.spec.ts
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-1542

#1545 [ADOP-2462] added new social worker domain
  charts/adoption-web/Chart.yaml
  charts/adoption-web/values.yaml
  config/default.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-1545

#1544 ADOP-2433: eligibility multple children
  playwright-e2e/pages/eligibility-pages.ts
  playwright-e2e/tests/eligibility-one-child.spec.ts
  playwright-e2e/tests/eligibility-tests.spec.ts
  playwright-e2e/utils/accessibility-helper.ts
  playwright.config.ts
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-1544

#1538 Adop 2401 non prod rum
  charts/adoption-web/Chart.yaml
  charts/adoption-web/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  config/development.yaml
  config/docker.yaml
  config/test.yaml
  src/main/modules/helmet/index.ts
  src/main/modules/nunjucks/index.ts
  src/main/steps/common/cookie-banner.njk
Labels: ns:adoption, prd:adoption, enable_keep_helm, rel:adoption-web-pr-1538

#1548 [ADOP-2471] adding new social worker domain
  charts/adoption-web/Chart.yaml
  charts/adoption-web/values.yaml
  config/default.yaml
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-1548
