Repository hmcts/adoption-web, pull requests merged in 2025-07, with the labels that each got.

#1704 ADOP-2690 upgrade typescript to v5 latest
  package.json
  yarn.lock
Labels: ns:adoption, prd:adoption, rel:adoption-web-pr-1704

#1707 Upgrade perftest to Standard SKU
  infrastructure/main.tf
  infrastructure/perftest.tfvars
  infrastructure/variables.tf
Labels: ns:adoption, prd:adoption, aat/add-or-update, prod/add-or-update, rel:adoption-web-pr-1707, perftest/add-or-update

#1714 ADOP-2323: Enable persistence in perftest
  infrastructure/main.tf
  infrastructure/perftest.tfvars
  infrastructure/variables.tf
  yarn-audit-known-issues
Labels: ns:adoption, prd:adoption, aat/add-or-update, perftest/add-or-update, rel:adoption-web-pr-1714

#1716 Update max snapshot count to 1
  infrastructure/variables.tf
Labels: ns:adoption, prd:adoption, aat/add-or-update, perftest/add-or-update, rel:adoption-web-pr-1716
